[Unit]
Description=RawSound website

Wants=network.target
After=syslog.target network-online.target

[Service]
Type=simple
ExecStart=/var/www/rawsound/rawsound
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target
